#d1{
    background-color: black;
    color: red;
    border-radius: 50px;
}
#d2{
    background-color: cornflowerblue;
    color: darkblue;
    border: 50px;
}
#d3{
    background-color: pink;
    border-radius: 50%;
}
div{
    height: 600px;
    width: 600px;
    border: solid 5px brown;
}
a{
    text-decoration: none;
    border: 2px solid;
}
h1,h2,h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}